body{
	text-align: center;
}

header,section,footer,aside,nav,article,hgroup{
	display:block;
}

#skin{
	width: 700px;
	margin:10px auto;
	padding:5px;
	background-color: red;
	border:4px;
	border-radius: 10px;
}

nav{
	margin:5px 0px;
}

#buttons{
	float:left;
	width:70px;
	height:22px;
}

#defaultBar{
	position:relative;
	float:left;
	width:600px;
	height:16px;
	padding: 4px;
	border:2px solid black;
	background-color: yellow;
}

#progressBar{
	position:absolute;
	width:250px;
	height:16px;
	background-color: blue;
}